<app-header></app-header>


<div class="card" style="width: 50%;margin-left:300px;margin-top: 5%;height: 450px;">
    <div class="card-body">
        <h5 class="card-title col-sm" style="color: blue;">SIGN UP</h5>

        <div style="margin-top: 5%;">
            <form>
                <div class="form-group">
                    <input type="text" placeholder="full name" class="form-control" style="width: 35%;">
                </div>

                <div class="form-group">
                    <input type="email" placeholder="email ..." class="form-control" style="width: 35%;">
                </div>
    
                <div class="form-group">
                    <input type="password" placeholder="password ..." class="form-control" style="width: 35%;">
                </div>

                <!-- / good password check pls -->
                <div class="form-group">
                    <input type="password" placeholder="confirm password ..." class="form-control" style="width: 35%;">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" style="width: 125px;">SIGN UP</button>
                </div>
            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>