<app-header></app-header>


<div class="card" style="width: 50%;margin-left:300px;margin-top: 5%;height: 300px;">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-sm" style="color: blue;">SIGN IN</h5>
            <h5 class="card-title col-sm" style="color: gold;">SIGN IN WITH</h5>
        </div>
   
        <div class="row" style="margin-left: 50%;">
            <a (click)="signInWithFB()" class="fa fa-facebook"></a> &nbsp;
            <a class="fa fa-google" routerLink="/signup"></a>
        </div>

        <div style="margin-top: -7%;">
            <form>
                <div class="form-group">
                    <input type="email" placeholder="email ..." class="form-control" style="width: 35%;">
                </div>
    
                <div class="form-group">
                    <input type="password" placeholder="password ..." class="form-control" style="width: 35%;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" style="width: 125px;">SIGN IN</button>
                </div>
            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>